version: "3.8"

services:
  akita-demo-server:
    container_name: akita-demo-server
    image: wiremock/wiremock:2.32.0-alpine
    ports:
      - ":8080"
    deploy:
      restart_policy:
        condition: on-failure
  akita-demo-client:
    container_name: akita-demo-client
    depends_on:
      - akita-demo-server
  akita:
    container_name: akita
    image: akita/agent:latest
    depends_on:
      - akita-demo-client
      - akita-demo-server
    environment:
      - AKITA_API_KEY_ID=${AKITA_API_KEY_ID}
      - AKITA_API_KEY_SECRET=${AKITA_API_KEY_SECRET}
    network_mode: "service:akita-demo-client"
    entrypoint: /akita apidump --service ${AKITA_SERVICE_NAME}

