version: "3.8"

services:
  akita-demo-server:
    container_name: akita-demo-server
    image: akitasoftware/demo-server:${DEMO_IMAGE_TAG}
    environment:
      - DEMO_IMAGE_TAG=latest
    ports:
      - ":8080"
  akita-demo-client:
    container_name: akita-demo-client
    image: akitasoftware/demo-client:${DEMO_IMAGE_TAG}
    environment:
        - AKITA_API_KEY_ID
        - AKITA_API_KEY_SECRET
        - DEMO_IMAGE_TAG=latest
    depends_on:
      - akita-demo-server
  akita:
    container_name: akita
    image: akitasoftware/cli:latest
    depends_on:
      - akita-demo-client
      - akita-demo-server
    environment:
      - AKITA_API_KEY_ID
      - AKITA_API_KEY_SECRET
      - AKITA_PROJECT_NAME
    network_mode: "service:akita-demo-client"
    entrypoint: /akita apidump --project=${AKITA_PROJECT_NAME}

